language: php

php:
  - 5.3.3
  - 5.4
  - 5.5
  - 5.6
  - 7

before_install:
 - composer self-update
 - composer install --prefer-source

script:
  - ./vendor/bin/phpunit

matrix:
  allow_failures:
    - php: 7.0
