<?php
return array(
    'zdt' => array(
        'profiler' => array(
            'enabled' => true,
            'strict'  => false,
        ),
        'toolbar' => array(
            'enabled' => true,
        ),
    ),
);