#zend-developer-toolbar {
    left: 0;
    bottom: 0;
    width:100%;
    height: 40px;
    color: #eee;
    z-index: 1337;
    position: fixed;
    border-top: 1px solid #111;
    background: #2C2C2C;
    background: -moz-linear-gradient(top,#333, #222);
    background: -ms-linear-gradient(top,#333, #222);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background: -webkit-linear-gradient(top, 333, #222);
    background: -o-linear-gradient(top, #333, #222);
    background: linear-gradient(top, #333, #222);
    font: normal 13px/40px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#zend-developer-toolbar .zdt-toolbar-bold {
    font-weight: bold;
}

#zend-developer-toolbar .zdt-toolbar-entry,
#zend-developer-toolbar .zdt-toolbar-detail {
    float: left;
    display: block;
    padding: 0 8px;
    background: transparent;
}

#zend-developer-toolbar .zdt-toolbar-info {
    vertical-align: middle;
}

#zend-developer-toolbar .zdt-toolbar-detail .zdt-toolbar-info {
    display: block;
}

#zend-developer-toolbar .zdt-toolbar-detail {
    bottom: 40px;
    display: none;
    line-height: 20px;
    padding: 7px 10px;
    position: absolute;
    white-space: nowrap;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#zend-developer-toolbar .zdt-toolbar-detail:before,
#zend-developer-toolbar .zdt-toolbar-detail:after {
    content: '';
    width: 0;
    height: 0;
    left: 10px;
    bottom: -10px;
    position: absolute;
    border-top: 10px solid #68b604;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#zend-developer-toolbar .zdt-toolbar-preview img {
    border: 0;
    width: auto;
    display: inline;
    margin-right: 3px;
    vertical-align: middle;
}

#zend-developer-toolbar .zdt-toolbar-entry:hover .zdt-toolbar-detail {
    display: block;
    background: #333;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
}

#zend-developer-toolbar .zdf-hide-button {
    top: 15px;
    right: 8px;
    width: 15px;
    height: 15px;
    display: block;
    cursor: pointer;
    position: absolute;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wHBQwnO04C+PMAAAGySURBVCjPhZOxjtNQEEXPjCIXLiwLzIMuUlxRo0ANK1aI1g0bf0Fe8jmxvwBI5R6JzQeg8AuJ2BLHoMhFCivyo4nBawntVG/umzuaubojDCLLsvfAB+AF8AQ4iMh3YG2t/dKvle6R5/kz59xH4Ir/x8Y5ly6Xy59/yavV6qmIfAPGPBx3IjK11h4UQETWwNjzPMIwRFXvVasqYRjieR7A2Dm3BtA8z98BrwF83ydNUzHGxF0DVcUYE6dpKr7vd/2usiy7VuCmQ+q6piiKSZIke2NMPBqNMMbESZLsi6KY1HXdH2g2cs5Nu6xtW8qy3BVFESdJsu80KYpiUpblrm3bPnmqwKM+0rYtVVXt+lhVVUMiwGMFfg/FiaIo7mNRFMVDEYFfIxHZOuee98XpdqyqahdFUZfHg9G3Cqy7LAgCOmJZlrvz+dxpMEmSZB8EwT93iXySiyU3wBvP8/B9n7qu6e+oqgRBwOl0omkagNvFYvFWL583wF3TNByPR4bitG3L8XjsiD9EZAagAPP5vFTVl8DmAWvequora+3h3mH0ruoamAHTy1WVwFZEPltrv/Zr/wCQH7muFnUEpgAAAABJRU5ErkJggg==');
}

#zend-developer-toolbar .zdf-hide-button:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wHBQwoL9NAMEEAAAHcSURBVCjPhZMxa1NRFMd/995nE5JAiQ9JoEPCexBwE0zVdChoSBE3aYU27qZb4wfod2gGaXWORkhHB8FmCRKVZHDqEEhIh0LaEEshLbZy33PJ09eH0jPdczi/P+f+OUcQiFI99wRYBe4Ct4CREKID1HZWWh/9vcJ7rO8uJF3XrQJ5/h8NV7vP36x+PfoDv3j/ICGU+AakuD4OpBTz28utkQQQStSAVCQUZW7WQil5pVspydysRSQUBUg5jlsDkOu7C4+BhwDxcILNQlVkzKztCSglyZhZe7NQFfFwwtPLl+q5JQmseZXhZEClWbY2Frf6GTNrz9yYIWNm7Y3FrX6lWbaGk4F/oKIo1XP7wG3/iB6gtUYpRaVZtrrjTk9rxw/vS+Cmv6K1Q+/ke88DtdbT3AkaZ0rgR9AcO37H9kCl1DSXQXgshRDtf41caZatlx/yrt+DgEBbAjUvS8bSeGB33Old/rqkO+70PIFkLP13u4R4K6Yr2QAeRUJR4uEEw8kA/x+VkiRjaU5+HnF+cQaw9/rZl4IEMAy1BhycX5xxeNonaI7WDoenfQ8cSCmKABLg1dPPx4ah7gGNa1ZzzzDU/e3l1ujKYfiuagkoAvPTqzoG2kKIdzsrrU/+3t+5CbOvwHTf7QAAAABJRU5ErkJggg==');
}
